{{- partial "header.html" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-meta">
      {{- if or .Params.Author .Site.Author.name }}
      {{- .Params.Author | default .Site.Author.name }} · {{ end }}
      {{- .Date.Format "2006-01-02" -}}
      {{- if .Params.tags }}
        <ul class="post-tags">
        {{- range .Params.tags }}
        {{- $href := print (absURL "tags/") (urlize .) }}
        <li><a href="{{ $href }}">{{ . }}</a></li>
        {{- end }}
        </ul>
      {{- end }}
    </div>
  </header>
  <div class="post-toc"></div>
  <div class="post-content article-post">
    {{ .Content }}
  </div>
  <footer class="post-footer">
  </footer>
  {{- if not (eq .Params.comments false) }}
  {{- if .Site.DisqusShortname }}
  <div id="disqus_thread"></div>
  <script>
    var disqus_shortname = '{{ .Site.DisqusShortname }}';
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  <!-- Comments area end -->
  {{- end }}
  {{- end }}
</article>
<!-- tocbot options -->
<script type="text/javascript">
  tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.post-toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.post-content',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h1, h2, h3, h4',
      
      positionFixedSelector: '.post-toc',
      positionFixedClass: 'is-position-fixed',
      fixedSidebarOffset: 'auto',
      scrollSmooth: true,
  });
  tocbot.refresh();
</script>
{{- partial "footer.html" . }}
