<span class="post-meta-author">
  {{- if or .Params.Author .Site.Author.name }}
    {{- .Params.Author | default .Site.Author.name }}
    <span class="post-meta-divider">·</span>
  {{ end }}
</span>
<span class="post-meta-date">
  <span class="post-meta-date-pub">
    <i class="far fa-calendar"></i>
    <time>{{- .PublishDate.Format "2006-01-02 15:04" -}}</time>
  </span>
  <span class="post-meta-divider">·</span>
  <span class="post-meta-date-pub">
    <i class="far fa-calendar-check"></i>
    <time>{{- .Lastmod.Format "2006-01-02 15:04" -}}</time>
  </span>
</span>
<span class="post-meta-divider">·</span>
{{/*  Words Count  */}}
<span class="post-meta-wc">
  <i class="far fa-file-word"></i>
  <span>{{ .WordCount }}</span>
</span>
<span class="post-meta-divider">·</span>
{{/*  Reading Time  */}}
<span class="post-meta-rt">
  <i class="far fa-clock"></i>
  <span>{{ .ReadingTime }} min</span>
</span>
<!-- <span class="post-meta-divider">·</span>
<span class="post-meta-rc">
  <i class="fa fa-eye"></i>
</span> -->
